apiVersion: v1
kind: Namespace
metadata:
  labels:
    control-plane: kubelb-ccm
    app.kubernetes.io/name: kubelb-ccm
    app.kubernetes.io/component: ccm
    app.kubernetes.io/part-of: kubelb
  name: kubelb
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kubelb-ccm
  namespace: kubelb
  labels:
    control-plane: kubelb-ccm
    app.kubernetes.io/name: kubelb-ccm
    app.kubernetes.io/component: ccm
    app.kubernetes.io/part-of: kubelb
spec:
  selector:
    matchLabels:
      control-plane: kubelb-ccm
  replicas: 1
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: kubelb-ccm
      labels:
        control-plane: kubelb-ccm
    spec:
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      containers:
      - name: kubelb-ccm
        args:
        - --enable-leader-election
        - --node-address-type=InternalIP
        image: controller:latest
        securityContext:
          allowPrivilegeEscalation: false
          runAsUser: 65532
          capabilities:
            drop:
              - "ALL"
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          requests:
            cpu: 10m
            memory: 64Mi
        volumeMounts:
          - mountPath: /home/nonroot/.kube
            name: kubelb-cluster
      serviceAccountName: kubelb
      terminationGracePeriodSeconds: 10
      volumes:
        - name: kubelb-cluster
          secret:
            secretName: kubeconfig
