apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "kubelb-ccm.fullname" . }}
  labels:
    {{- include "kubelb-ccm.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "kubelb-ccm.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- if or .Values.podAnnotations (not .Values.serviceMonitor.enabled) }}
      annotations:
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- if not .Values.serviceMonitor.enabled }}
        prometheus.io/scrape: "true"
        prometheus.io/port: "{{ .Values.metrics.port }}"
        prometheus.io/path: "/metrics"
        {{- end }}
      {{- end }}
      labels:
        {{- include "kubelb-ccm.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "kubelb-ccm.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: ccm
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
            - --enable-leader-election={{ .Values.kubelb.enableLeaderElection }}
            - --node-address-type={{ default "ExternalIP" .Values.kubelb.nodeAddressType }}
            - --use-loadbalancer-class={{ default false .Values.kubelb.useLoadBalancerClass }}
            {{ if .Values.kubelb.enableGatewayAPI -}}
            - --enable-gateway-api=true
            {{ end -}}
            {{ if not .Values.kubelb.useGatewayClass -}}
            - --use-gateway-class=false
            {{ end -}}
            {{ if not .Values.kubelb.useIngressClass -}}
            - --use-ingress-class=false
            {{ end -}}
            {{ if .Values.kubelb.disableIngressController -}}
            - --disable-ingress-controller=true
            {{ end -}}
            {{ if .Values.kubelb.disableGatewayController -}}
            - --disable-gateway-controller=true
            {{ end -}}
            {{ if .Values.kubelb.disableHTTPRouteController -}}
            - --disable-httproute-controller=true
            {{ end -}}
            {{ if .Values.kubelb.disableGRPCRouteController -}}
            - --disable-grpcroute-controller=true
            {{ end -}}
            {{ if .Values.kubelb.enableSecretSynchronizer -}}
            - --enable-secret-synchronizer=true
            {{ end -}}
            {{ if .Values.kubelb.installGatewayAPICRDs -}}
            - --install-gateway-api-crds=true
            {{ end -}}
            {{ if .Values.kubelb.gatewayAPICRDsChannel -}}
            - --gateway-api-crds-channel={{ .Values.kubelb.gatewayAPICRDsChannel }}
            {{ end -}}
            {{ if .Values.kubelb.ingressConversion.enabled -}}
            - --enable-ingress-conversion=true
            {{ end -}}
            {{ if .Values.kubelb.ingressConversion.standaloneMode -}}
            - --ingress-conversion-only=true
            {{ end -}}
            {{ if .Values.kubelb.ingressConversion.gatewayName -}}
            - --conversion-gateway-name={{ .Values.kubelb.ingressConversion.gatewayName }}
            {{ end -}}
            {{ if .Values.kubelb.ingressConversion.gatewayNamespace -}}
            - --conversion-gateway-namespace={{ .Values.kubelb.ingressConversion.gatewayNamespace }}
            {{ end -}}
            {{ if .Values.kubelb.ingressConversion.gatewayClass -}}
            - --conversion-gateway-class={{ .Values.kubelb.ingressConversion.gatewayClass }}
            {{ end -}}
            {{ if .Values.kubelb.ingressConversion.ingressClass -}}
            - --conversion-ingress-class={{ .Values.kubelb.ingressConversion.ingressClass }}
            {{ end -}}
            {{ if .Values.kubelb.ingressConversion.domainReplace -}}
            - --conversion-domain-replace={{ .Values.kubelb.ingressConversion.domainReplace }}
            {{ end -}}
            {{ if .Values.kubelb.ingressConversion.domainSuffix -}}
            - --conversion-domain-suffix={{ .Values.kubelb.ingressConversion.domainSuffix }}
            {{ end -}}
            {{ if not .Values.kubelb.ingressConversion.propagateCertManagerAnnotations -}}
            - --propagate-cert-manager-annotations=false
            {{ end -}}
            {{ if not .Values.kubelb.ingressConversion.propagateExternalDnsAnnotations -}}
            - --propagate-external-dns-annotations=false
            {{ end -}}
            {{ if not .Values.kubelb.ingressConversion.standaloneMode -}}
            - --cluster-name={{ required "A valid .Values.kubelb.tenantName to specify the tenant name is required!" .Values.kubelb.tenantName }}
            {{ end -}}
            - --zap-log-level={{ .Values.kubelb.logLevel }}
          env:
          - name: NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
          ports:
            - containerPort: {{ .Values.metrics.port }}
              name: ccm-metrics
              protocol: TCP
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            {{- if not .Values.kubelb.ingressConversion.standaloneMode }}
            - mountPath: /home/nonroot/.kube
              name: kubelb-cluster
            {{- end }}
          {{- with .Values.extraVolumeMounts }}
            {{- toYaml . | nindent 8 }}
          {{- end }}
        - name: kube-rbac-proxy
          image: "{{ .Values.kubeRbacProxy.image.repository }}:{{ .Values.kubeRbacProxy.image.tag }}"
          imagePullPolicy: {{ .Values.kubeRbacProxy.image.pullPolicy }}
          args:
            - --secure-listen-address=0.0.0.0:8443
            - --upstream=http://127.0.0.1:{{ .Values.metrics.port }}/
            - --v=0
          ports:
            - containerPort: 8443
              name: metrics
              protocol: TCP
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
      volumes:
        {{- if not .Values.kubelb.ingressConversion.standaloneMode }}
        - name: kubelb-cluster
          secret:
            secretName: "{{ default "kubelb-cluster" .Values.kubelb.clusterSecretName }}"
        {{- end }}
      {{- with .Values.extraVolumes }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
