apiVersion: v1
kind: Service
metadata:
  name: {{ include "kubelb-ccm.fullname" . }}-metrics-service
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "kubelb-ccm.labels" . | nindent 4 }}
spec:
  ports:
    - name: metrics
      port: 8443
      targetPort: metrics
      protocol: TCP
  selector:
    {{- include "kubelb-ccm.selectorLabels" . | nindent 4 }}