{{- if .Values.serviceMonitor.enabled -}}
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ include "kubelb-ccm.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "kubelb-ccm.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "kubelb-ccm.selectorLabels" . | nindent 6 }}
  endpoints:
  - port: metrics
    path: /metrics
    scheme: https
    bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
    tlsConfig:
      insecureSkipVerify: true
  namespaceSelector:
    matchNames:
    - '{{ .Release.Namespace }}'
{{- end }}