apiVersion: v1
kind: Namespace
metadata:
  labels:
    control-plane: kubelb
    app.kubernetes.io/name: namespace
    app.kubernetes.io/instance: system
    app.kubernetes.io/component: manager
    app.kubernetes.io/part-of: kubelb
  name: kubelb
---
apiVersion: v1
kind: Service
metadata:
  labels:
    control-plane: kubelb
  name: envoycp
  namespace: kubelb
spec:
  ports:
    - port: 8001
      targetPort: 8001
  selector:
    control-plane: kubelb
  type: ClusterIP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kubelb
  namespace: kubelb
  labels:
    control-plane: kubelb
    app.kubernetes.io/name: deployment
    app.kubernetes.io/instance: kubelb
    app.kubernetes.io/component: manager
    app.kubernetes.io/part-of: kubelb
spec:
  selector:
    matchLabels:
      control-plane: kubelb
  replicas: 1
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: kubelb
      labels:
        control-plane: kubelb
    spec:
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      containers:
      - name: kubelb
        args:
        - --enable-leader-election
        - --envoy-proxy-topology=shared
        - --envoy-proxy-replicas=3
        image: controller:latest
        env:
          - name: NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
        securityContext:
          allowPrivilegeEscalation: false
          runAsUser: 65532
          capabilities:
            drop:
              - "ALL"
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          requests:
            cpu: 10m
            memory: 64Mi
      serviceAccountName: kubelb
      terminationGracePeriodSeconds: 10
